/* Reset some default styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* Set black background for the entire page */
body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
}

/* Style the navigation bar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
}

header li .active {
  color: #13aff0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li a {
  text-decoration: none;
  color: white;
}

ul li a:hover {
  color: #13aff0;
}
/* Style the artwork grid section */
section {
  padding: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.artwork-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.artwork-item img {
  width: 100%;
  border: 1px solid white;
}

/* Style  nav-album */
.nav-inline {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: black;
}

/* nav album */
.nav-album .nav-inline .active a{
  color: #13aff0;
}
